
* {
  box-sizing: border-box;

  /* Make the invisible visible */
  border: thin red solid;
}

h1{
  background-color: lightgrey;
  height:200px;
}

.row{
      float: left;
      width: 100%;
}


.column{
      float: left;
      width: 33%;
}

.column2{
      float: left;
      width: 25%;
}

.column3{
      float: left;
      width: 66%;
}

.bluebox{
    color:white;
    border-radius: 20px;
    background-color: blue;
    margin: 20px;
}


